@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
}

:root {
  --color-soft-red: hsl(10, 79%, 65%);
  --color-cyan: hsl(186, 34%, 60%);
  --color-dark-brown: hsl(25, 47%, 15%);
  --color-medium-brown: hsl(28, 10%, 53%);
  --color-cream: hsl(27, 66%, 92%);
  --color-very-pale-orange: hsl(33, 100%, 98%);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: var(--color-cream);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

/* header style */

.header {
  width: 355px;
  background-color: var(--color-soft-red);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  gap: 10px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;
}

.header_left {
  color: var(--color-very-pale-orange);
}

.header_title {
  padding: 5px;
  font-size: 0.7rem;
  color: var(--color-cream);
}
.header_balance {
  padding: 5px;
  font-weight: bold;
  font-size: 1.4rem;
}

.header_right {
  position: relative;
}

.header_svg_img_one {
  position: absolute;
  left: -17px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 2px solid var(--color-very-pale-orange);
}

.header_svg_img_two {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--color-dark-brown);
}

/* main style */
.container {
  max-width: 355px;
  background-color: var(--color-very-pale-orange);
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
  height: 440px;
}

.cntr_title {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-dark-brown);
  padding: 1rem;
}

.cntr_canvas {
  /* margin: 10px; */
  padding-bottom: 1rem;
}

/* footer container */
.line_separator {
  background-color: var(--color-cream);
  width: 320px;
  height: 3px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem;
  color: var(--color-dark-brown);
}

.footer_title {
  color: var(--color-medium-brown);
  font-size: 0.8rem;
}

.footer_balance {
  font-size: 2rem;
  font-weight: bold;
}

.footer_right_amount {
  text-align: end;
  font-size: 0.8rem;
  font-weight: bold;
}

.footer_right_amount_balnce {
  font-size: 0.8rem;
  color: var(--color-medium-brown);
}

/* end */

.attribution {
  font-size: 0.7rem;
  text-align: center;
  padding: 1rem;
}
.attribution a {
  font-size: inherit;
  color: hsl(228, 45%, 44%);
}
